:root{
  --folly: #ff1053ff;
  --ultra-violet: #6c6ea0ff;
  --light-sky-blue: #66c7f4ff;
  --french-gray: #c1cad6ff;
  --white: #ffffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.banner{
  background-color: var(--light-sky-blue);
}